#game {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 75vh;
  margin: auto;
  border: 1px solid gray;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 5%;
}

#score-board {
  text-align: center;
}

.tile {
  flex: 1;
}
