#game {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin: auto;
  width: 75vh;
}

#legend {
  background-color: gainsboro;
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
  max-width: 75vh;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 5%;
}

#score-board {
  font-size: 40px;
  margin: auto;
  max-width: 75vh;
  text-align: center;
}

.tile {
  flex: 1;
}
